.propositions-text{
    transform: translateY(50%);
}

.propositions-list {
    margin-top: clamp(1px, 5vw, 25px);
    width: clamp(1px, 90vw, 500px);
    margin-bottom: clamp(1px, 14vw, 80px);

}

.propositions-list ul {
    list-style-type: none;
    padding: 0;
}

.propositions-elem {
    font-size: clamp(1px, 6vw, 35px);
    margin-bottom: clamp(1px, 2vw, 10px);
}

.scrollable-item {
    width: 100%; /* Ensure the container takes full width */
    overflow-x: auto; /* Horizontal scrollbar */
    white-space: nowrap; /* Prevent text from wrapping */
}

.icon {
    width: clamp(1px, 6vw, 30px);
    height: clamp(1px, 6vw, 30px);
    transition: all 0.3s ease-in-out; /* Ajout de la transition pour un effet fluide */
}

.icon-wrapper {
    display: inline-flex; /* Utiliser flex pour centrer l'icône */
    align-items: center; /* Centrer verticalement */
    justify-content: center; /* Centrer horizontalement */
    height: clamp(1px, 8vw, 35px);
    width: clamp(1px, 8vw, 35px);
    cursor: pointer; /* Curseur pointeur au survol */
}

.icon-wrapper:hover .icon path {
    fill: #000000; /* Changer la couleur du SVG au survol */
}

.icon {
    width: clamp(1px, 5.5vw, 25px);
    height: clamp(1px, 5.5vw, 25px);
    transition: fill 0.3s ease-in-out; /* Transition fluide pour la couleur */
}
