.validation-box{
    height: clamp(1px, 15vw, 85px);
    text-align: center;
    font-size: clamp(1px, 4vw, 22px);
    color: #ffffff;
    font-weight: 600;
    width: clamp(1px, 90vw, 500px);
    padding-top: clamp(1px, 4vw, 22px);
    padding-bottom: clamp(1px, 4vw, 22px);
    border-radius: clamp(1px, 2vw, 10px);
    margin-top: clamp(1px, 4vw, 20px);
}

.isvalid{
    background-color: #027A56;
}

.notvalid{
    background-color: #B63333;
}