.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.header{
  background-color: #027A56;
  color: white;
  text-align: center;
  padding-top: clamp(1px, 5vw, 15px);
  padding-bottom: clamp(1px, 5vw, 15px);
  font-size: clamp(1px, 5vw, 30px);
  margin: 0;
  font-weight: 400;
  width: 100%;
}

.result{
  height: 40vh;
}

.valid{
  background-color: #027A56;
}

.asterisque{
  width: clamp(1px, 75vw, 300px);
  font-size: clamp(1px, 3.5vw, 13px);
  margin: 0;
  color:#8C8C8C;
}

.input-wrapper {
  position: relative;
  width: clamp(1px, 75vw, 300px);
}

.input-text {
  padding: 10px 40px 10px 10px; /* Ajuste le padding droit pour laisser de la place à la croix */
  font-size: clamp(1px, 7vw, 25px);
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #ffffff;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 10px; /* Place la croix à l'intérieur de l'input à droite */
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #ADADAD;
  outline: none;
  font-weight: 800;
}

.clear-button:hover {
  color: #000000;
}

.input-text.valid {
  border: 2px solid #027A56;
}

.input-text.invalid {
  border: 2px solid #B63333;
}
