body {
  margin: 0;
  font-family: 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* suppression de la scrollbar */
::-webkit-scrollbar {
  width: 0px; 
}